.main {
  padding: 11rem 2rem 2rem 2rem;
}

.gap-larger {
  gap: 4rem;
}
.alert-text {
  margin: 2rem 0;
  text-align: center;
}

.text-empty {
  color: red; /* Make it stand out */
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 100;
  top: 10rem;
}
